:root {
  --color-bg: #fefefe;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
  --sidebar-bgcolor: #f1f1f1;
  --dark-color: #0f0f0f;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-bg);
}


a {
  color: inherit;
  text-decoration: none;
}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;
}

.layout__main-content {
  flex-grow: 1;
}

.sidebar__wrapper {
  position: relative;
}

.sidebar {
  width: 15rem;
  height: 100%;
  background-color: var(--sidebar-bgcolor);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  /* margin-bottom: 1rem; */
}

.sidebar__logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 1rem;
}

.sidebar__logo-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.sidebar__list {
  list-style: none;
}


.sidebar__link {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--dark-color);
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar__icon--active {
  color: #fff;
  background-color: var(--dark-color);
}

.sidebar__icon {
  padding: 0.5rem;
  border-radius: 35%;
}

.sidebar__name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 5.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-collapse="true"] .sidebar__logo-name,
[data-collapse="true"] .sidebar__name {
  display: none;
}

[data-collapse="true"] .sidebar__top {
  padding-left: 0;
}


.btn {
  position: absolute;
  right: 0;
  top: 2.7rem;
  border: none;
  background-color: var(--sidebar-bgcolor);
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid var(--color-bg);
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}